<h3> Invoices for Company <%= @company.capitalize %></h3>

<% my_counter = 0 %>
  <table>
      <tr>
        <th>Status</th>
        <th>Client</th>
        <th> Description</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Amount</th> 
      </tr>

<% @invoice_details.each do |detail| %>

    <% my_counter += 1 %>

    <% full_detail = detail[:full_invoice]%>
  
    
    <% parts = full_detail.split("\n") %>
    <% part_1 = parts[1] %>

    <% parts2 = part_1.split(",") %>
    
  
      <tr>
    
     <% if detail[:status] == "overdue" %>
       <td class="overdue"> <b><%= link_to "Overdue", report_path(:id => detail[:id]) %></b></td>
     <% else %>
       <td><%= link_to "Current", report_path(:id => detail[:id]) %></td>
    <% end %>
        <td><%= detail[:name] %></td>
         <td><%= parts2[1] %></td>
         <td><%= parts2[2] %></td>
         <td><%= parts2[3] %></td>
        <td><%= parts2[4] %></td>
      </tr>

<% end %>
    </table>
